/* Menu Bar Styles */
.menu-bar {
  position: fixed;
  top: 0px;
  display: flex;
  /*background-color: #2a2a2a;*/
  background: linear-gradient(180deg, #666666, #353535);
  padding-top: 2px;
  padding-bottom: 0px;

  padding-right: 10px;
  padding-left: 10px;

  font-family: Arial, sans-serif;
  color: #ddd;
  user-select: none;
  z-index: 10000;
  width: 100%;
  z-index: 13000;
  align-items: flex-start;
  font-size: 14px;
  gap: 20px;
  box-sizing: border-box;
}

/* Top-Level Menu Items */
.menu-item {
  position: relative;
  /*padding: 8px 12px;*/
  cursor: pointer;
  z-index: 13000;
  border-radius: 4px 4px 0 0;
  background: none;
  color: #ddd;
}

.menu-item select {
  position: relative;
  /*padding: 8px 12px;*/
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 0px;
  cursor: pointer;
  margin-right: 15px;
  z-index: 13000;
  font-size: 14px;
}

.menu-item:hover {
    transform: scale(1.05);

}


.menu-bar a {
  color: #ddd;
  text-decoration: none;
}

.menu-bar a:hover {
  color: #ddd;
}

/* Submenu Container */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  padding-top: 10px;
  left: 0;
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 0 4px 4px 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 13000;
}

/* Submenu Items */
.submenu-item {
  position: relative !important;
  padding: 8px 15px;
  cursor: pointer;
  width: 220px;
}

.submenu-item:hover {
  background-color: #444;
  /* color: #fff; */
}

/* Separator */
.separator {
  height: 1px;
  background-color: #555;
  margin: 5px 0;
}

.volume {
  background: none;
}

/* create a rounded border around selectLightMode */
.selectLightMode {
  font-size: 18px;
  /* rounded corners */
  border-radius: 4px;
  background-color: #2a2a2a;
    padding-left: 4px;
  padding-right: 4px;
}
.selectLightMode i {
  color: #ddd;
  /* padding: 8px 12px; */
  cursor: pointer;
  z-index: 13000;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
.selectLightMode i:hover {
  color: #fff;
  /* zoom in */
  transform: scale(1.2);
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.icon.trigger {
  cursor: pointer;
  /* padding: 8px 12px; */
  /* background: #f0f0f0; */
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
  min-width: 200px;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 10px 15px;
  cursor: pointer;
}

/* light grey highlight */
.dropdown-menu li:hover {
  background: #444;
  color: #fff;
}

#menu-bar-coin-balance {
  padding-left: 2px;
}

@media (max-width: 767px) and (pointer: coarse) and (hover: none) {
  .menu-bar {
    display: none;
  }
}