.taskbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;

    overflow: visible; /* Allow child elements to display outside the container */
    background: linear-gradient(180deg, #666666, #353535);
    color: #e0e0e0;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-shadow: #000 0 1px 1px;
    border-bottom: 1px solid #444;
    border-radius: 8px 8px 0 0;
    user-select: none;
    cursor: grab;


    z-index: 99999;
}

.taskbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    position: relative;
    /* rounded corners for a modern feel */
    border-radius: 8px;
}

.taskbar-item {
    transition: transform 0.3s ease;
    width: 48px; /* Adjust based on your icon size */
}

.taskbar-item:hover {
    transform: scale(1.5); /* Icon enlargement factor */
}

.taskbar-item-text {
    visibility: hidden;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Prevent text from wrapping */
    z-index: 100000; /* Ensure it is above all */
    padding: 5px 10px;
    background-color: #ffffff;
    color: #333333;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Optional: Adds a shadow for better visibility */
}

.taskbar-item:hover .taskbar-item-text {
    visibility: visible;
}

.taskbar-item-alert {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { background-color: orange; }
}


/* Media query for mobile devices */
@media (max-width: 1000px) {
    .taskbar-container {
        padding: 12px 20px !important; /* Larger padding for better touch interaction */
        font-size: 16px !important; /* Larger font size for readability */
        border-radius: 12px 12px 0 0 !important; /* Slightly larger radius for aesthetic adjustment */
        gap: 5px;
    }

    .taskbar-item {
        padding: 15px 64px !important; /* Larger padding for easier touch */
        margin-right: 15px !important; /* Increase spacing between buttons */
        font-size: 28px !important; /* Increase font size for readability */
        transition: background-color 0.3s ease !important; /* Ensure smooth color transition */
    }

    .taskbar-item:hover {
        background-color: #666 !important; /* Slightly darker for hover effect, considering touch devices don't use hover, this is for consistency */
    }
    /* make the items and text larger */
    .taskbar-item-text {
        font-size: 24px !important;
        padding: 10px 20px !important;
        border-radius: 8px !important;
    }
    .taskbar-item:hover .taskbar-item-text {
        visibility: visible !important;
    }
    /* image size */
    .taskbar-item img {
        width: 128px !important;
        height: 128px !important;
    }
}
