#helper_seconds {
  height: 44px;
  border: none;
  overflow: hidden;
}
#helper_seconds::-moz-focus-inner {
  border: 0;
}
#helper_seconds:focus {
  outline: none;
}
#helper_seconds option {
  width: 40px;
  font-size: 1.2em;
  padding: 10px 0;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

#helper_minutes {
  height: 44px;
  border: none;
  overflow: hidden;
}
#helper_minutes::-moz-focus-inner {
  border: 0;
}
#helper_minutes:focus {
  outline: none;
}
#helper_minutes option {
  width: 40px;
  font-size: 1.2em;
  padding: 10px 0;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

#helper_hours {
  height: 44px;
  border: none;
  overflow: hidden;
}
#helper_hours::-moz-focus-inner {
  border: 0;
}
#helper_hours:focus {
  outline: none;
}
#helper_hours option {
  width: 40px;
  font-size: 1.2em;
  padding: 10px 0;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

#snooze.hide {
  display: none;
}