#bar_bottom.mobile_bar_bottom {
  height: 23%;
  min-height: 137px;
  z-index: 420;
}

.mobile_chatControl {
  width: 86px;
  height: 64px;
  font-size: 77px !important;
}

.mobile_show_desktop_img {
  width: 16vw !important;
}

.mobile_larger_font {
  font-size: 32px !important;
}

.mobile_doubly_larger_font {
  font-size: 48px !important;
}

.mobile_traffic_lights {
  font-size: 36px !important;
}

.mobile_larger_icons {
  width: 128px !important;;
  height: 128px !important;;
}

.mobile_dock_bar {
  position: absolute;
  bottom: 0px;
}

.mobile_datetime {
  font-size: 11px;
  font-decoration: italic;
}