.totalOnlineCount {
    display: none !important;
}

.desktop-container {
    /* this needs to be 100% */
    width: 100%;
}
.desktop-shortcuts-container {
    display: none; /* Use flex display */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    align-items: flex-start; /* Align items to the start of the flex line */
    justify-content: flex-start; /* Align items to the start of the main axis */
    padding: 10px;
    gap: 5px; /* Uniform gap between items */
    position: absolute;
    top: 5vh;
    overflow: auto; /* Enables scrolling if content overflows */
    width: 100%; /* Ensure the container takes up full width */
    height: 90%; /* Adjust height to prevent overflow beyond the viewport */
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto; /* Center the container horizontally */
}

/* these are the shortcuts */
.desktop-shortcuts-container > div {
    text-align: center;
    font-size: 12px; /* Adjusted for better readability */
    width: 64px; /* Set a fixed width for each shortcut */
    margin: 5px; /* Add margin around each shortcut */
    display: flex; /* Use flexbox for internal alignment */
    flex-direction: column; /* Stack items vertically within each shortcut */
    justify-content: center; /* Center content vertically within each shortcut */
    align-items: center; /* Center content horizontally within each shortcut */
    user-select: none; /* Prevent text selection */
}

.bp-desktop-icon {
    width: 32px; /* Set a fixed width for the icon */
    height: 32px; /* Set a fixed height for the icon */
    color: white;
}
.bp-desktop-shortcut {
  
}

.folder-holder {
    width: 100%;
    height: 100%;
    /* beige folder */
    background-color: #f5f5dc;
    position: relative;
}

@media (max-width: 1000px) {
    .desktop-shortcuts-container {
        top: 0px;
        height: calc(100vh - 128px);
    }
    .desktop-shortcuts-container img {
        width: 128px !important; 
        height: 128px !important;
    }
    .desktop-shortcuts-container .icon {
        width: 128px !important; 
        height: 128px !important;
    }
    .desktop-shortcuts-container .title {
        font-size: 32px !important;
    }
}

.desktop-context-menu {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: #f9f9f9;
    border: 1px solid #a9a9a9;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.desktop-context-menu ul li {
    list-style-type: none;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

