.app-buddylist h2 {
    padding: 0px;
    margin: 0px;
}

.bp-window-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    max-height: 600px;
    background: #E0E0E0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.window-main {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid #000;
}

.loggedIn, .buddy_list_not_connected {
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
    margin: 5px 0;
    padding: 8px;
    width: calc(100% - 20px);
    border: 1px solid #888;
    border-radius: 3px;
}

.loginForm .password {
    display: none;
}

.loginForm button {
    padding: 10px 15px;
    background-color: #0078D7;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.loginForm button:hover {
    background-color: #0056b3;
}

.h2, .h3 {
    color: #000;
    font-size: 18px;
}

.buddyListButton {
    background-color: #48d1cc; /* Mimic old AIM button color */
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 3px;
    
}

.addBuddyForm {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sendBuddyRequest:hover {
    background-color: #2ca6a4;
}

.buddyListHolder, .addBuddyForm {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    width: 100%;
}

.positiveAffirmation {
    text-align: center;
    width: 100%;
    font-size: 14px;
    text-decoration: italic;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.onlineStatus {
    width: 100%;
}
.onlineStatusSelect {
    width: 100%;
    padding: 0;
    margin: 0;
}

.buddylist {
    list-style: none;
}

.aim-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 2px solid #ffffff; /* Classic blue border */
    background-color: #ffffff; /* White background for the chat area */
    font-family: Arial, sans-serif; /* Typical font for that era */
}

.aim-chat-area {
    flex: 1;
    overflow-y: auto;
    padding: 8px;
}

.aim-messages-container {
}

.aim-no-messages {
    color: #808080; /* Grey text indicating no messages yet */
}

.aim-messages {
    margin-top: 4px;
}

.aim-message-controls {
    width: calc(100% - 16px); /* Subtract padding from total width */
    padding: 8px;
    background: #f0f0f0; /* Light grey background for the control area */
    border-top: 1px solid #d3d3d3; /* Separator */
    box-sizing: border-box;
}

.aim-message-form {
    display: flex;
    align-items: center;
}

.aim-input {
    flex-grow: 1;
    margin-right: 8px;
    padding: 4px;
    border: 1px solid #c0c0c0; /* Light grey border for input */
    border-radius: 3px; /* Slightly rounded corners for the input box */
}

.aim-send-btn {
    padding: 6px 12px;
    background-color: #0084ff; /* Bright blue background for the send button */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 40px;



}

.aim-send-btn:hover {
    background-color: #0056b3; /* Darker blue when hovering */
}

.aim-from, .aim-to {
    display: none; /* Hide these fields */
}


.login-frog {
    font-size: 64px;
    text-align: center;
}

.login-frog i:hover {
    color: green;
    cursor: pointer;
}

.loginMessage {
    text-align: center;
}

.loginButton {
    background-color: #48d1cc; /* Mimic old AIM button color */
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
}

.purple {
    color: purple;
}


.datetime {
    font-style: italic;
    opacity: 0.77;
    font-size: clamp(8px, 1vw, 18px);
    text-decoration: italic;
}



.buddylistContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding: 0 20px 0 0;
}

.inviteBuddyHolder {
    text-align: center;
}

.aim-chat-controls {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    gap: 10px;
}

.loginStatus {
    text-align: center
}