.taskbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex
;
    background: linear-gradient(180deg, #666666, #353535);
    color: #e0e0e0;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-shadow: #000 0 1px 1px;
    border-bottom: 1px solid #444;
    border-radius: 8px 8px 0 0;
    user-select: none;
    cursor: grab;


    justify-content: start;
    z-index: 99999;
}

.taskbar-item {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #555;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.taskbar-item:hover {
    background-color: #777;
}

.taskbar-item-alert {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { background-color: orange; }
}
