.taskbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex
;
    background: linear-gradient(180deg, #666666, #353535);
    color: #e0e0e0;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-shadow: #000 0 1px 1px;
    border-bottom: 1px solid #444;
    border-radius: 8px 8px 0 0;
    user-select: none;
    cursor: grab;
    flex-wrap: wrap;


    justify-content: start;
    z-index: 99999;
}

.taskbar-item {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #555;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.taskbar-item:hover {
    background-color: #777;
}

.taskbar-item-alert {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { background-color: orange; }
}


/* Media query for mobile devices */
@media (max-width: 1000px) {
    .taskbar-container {
        padding: 12px 20px !important; /* Larger padding for better touch interaction */
        font-size: 16px !important; /* Larger font size for readability */
        border-radius: 12px 12px 0 0 !important; /* Slightly larger radius for aesthetic adjustment */
    }

    .taskbar-item {
        padding: 15px 25px !important; /* Larger padding for easier touch */
        margin-right: 15px !important; /* Increase spacing between buttons */
        font-size: 28px !important; /* Increase font size for readability */
        transition: background-color 0.3s ease !important; /* Ensure smooth color transition */
    }

    .taskbar-item:hover {
        background-color: #666 !important; /* Slightly darker for hover effect, considering touch devices don't use hover, this is for consistency */
    }
}
