*.codekit
.DS_Store
.AppleDouble
.LSOverride
Icon
includes/data/
.sass-cache/
studio.json
.env
# Thumbnails
._*
vendor/
composer.lock
# Files that might appear on external disk
.Spotlight-V100
.Trashes

.svn/
.idea
.mmdb

