/* General styles for the main container */

.pondsContainer {
    /* display: flex; */
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;

}

.window_main.pond_main {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: auto;
}

.joinPonds {
    max-width: 500px;
    text-align: center;
}

.joinPondButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Styling for the ponds table */
.joinPondTable {
    min-width: 400px;
    width: 100%;
    border-collapse: collapse;
}

.joinPondTable td {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.openPond:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

/* Styling for the form */
.joinPondForm {
    text-align: center;
}

.customPondName {
    border: 2px solid #ddd;
    padding: 8px;
    margin-bottom: 10px;
    padding: 8px;
    border: 2px solid #ccc;
}

.rainbow-border:focus {
    border-color: #8352fd; /* Example of a more vibrant focus color */
}

.desktopButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.desktopButton:hover {
    background-color: #45a049;
}

.welcomePonds {
    text-align: center;
}

.welcomePonds span {
    display: block; /* Makes each span behave like a paragraph */
    margin-bottom: 5px; /* Reduced bottom margin */
    color: #333;
    font-size: 14px;
}

.welcomePonds em {
    display: block; /* Ensures emphasis text is also block-level, helps with clarity */
    font-style: italic;
    color: #555;
    margin-bottom: 5px; /* Provides a small gap before the form */
}

.joinPondForm {
    margin-top: 5px; /* Reduced spacing above the form */
}

.desktopButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.desktopButton:hover {
    background-color: #45a049;
}

/* Responsive adjustments */
@media (max-width: 767px) and (pointer: coarse) and (hover: none) {
    .window_main.pond_main {
        width: 100%;
        max-width: none;
        padding: 10px;
    }

    .customPondName, .desktopButton {
        width: 100%; /* Ensures button and input field fit mobile screens properly */
    }


    .customPondName {
        width: calc(100% - 20px); /* Adjust width on smaller screens */
    }

    .pondsContainer table {
        font-size: 32px;
    }
    .joinPonds {
        max-width: 100%;
    }
    .pondsContainer .desktopButton {
        width: 100%;
    }
    .pondsContainer em {
        font-size: 24px;
    }
    .pondsContainer input {
        font-size: 32px;
    }
    .joinPonds h2 {
        display: none;
    }

}


